@import "colors.css";

* {
  font-family: "Google Sans Display", "JetBrainsMono Nerd Font Propo";
  font-weight: 500;
  color: @on_surface;
  transition:
        transform 180ms cubic-bezier(.4,0,.2,1),
        background-color 200ms ease,
        color 200ms ease,
        border-color 200ms ease,
        margin-top 180ms ease-out;
}

window {
  background-color: transparent;
}

#app {
  color: @primary;
  background: alpha(@surface_container, 0.7);
  border: 1px solid @outline_variant;
  border-radius: 25px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  padding: 8px 5px 2px 5px;
  margin: 18px 18px 6px 18px;
}

#app button {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  border-radius: 25px;
}

#app button:hover {
  background-color: alpha(@primary, 0.4);
  margin-top: -12px;
}

#pv-item {
  background: alpha(@surface_container, 0.7);
  border-radius: 25px;
  border: 1px solid @outline_variant;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin: 0px;
}

#pv-item.hover {
  background: alpha(@surface_container_high, 0.8);
  border: 1px solid alpha(@primary, 0.7);
}

#pv-item button {
  border-radius: 50px;
  background-color: @surface_container;
}

#pv-item.hover button:hover {
  background-color: @error;
}

#pv-item.hover button:hover image {
  color: @surface_container;
}