@import "colors.css";

* {
  font-family: "Google Sans Display", "JetBrainsMono Nerd Font Propo";
  font-weight: 500;
  color: @on_surface;
  transition:
        transform 180ms cubic-bezier(.4,0,.2,1),
        background-color 200ms ease,
        color 200ms ease,
        border-color 200ms ease,
        margin-top 180ms ease-out;
}

window {
  background-color: transparent;
}

#app {
  color: @primary;
  background: alpha(@surface_container, 0.7);
  border: 1px solid @outline_variant;
  border-radius: 25px;
  box-shadow: 0 0 8px 2px @shadow;
  padding: 12px 8px 4px 8px;
  margin: 24px 16px 0px 16px;
}

#app button {
  background-color: transparent;
  padding: 0px;
}

#app button:hover {
  padding-bottom: 32px;
  margin-bottom: -32px;
}

@keyframes bounce {
  0%   {margin-top: -32px;}
  50%  {margin-top: 0px;}
  100% {margin-top: -32px;}
}

#app button image {
  border-radius: 22px;
}

#app button:hover image {
  background-color: @primary;
  margin-top: -32px;
  animation: bounce .6s steps(60) 1s infinite;
}

#pv-item {
  background: alpha(@surface_container, 0.7);
  border-radius: 25px;
  border: 1px solid @outline_variant;
  box-shadow: 0 0 4px 1px @shadow;
  padding: 5px;
  margin: 6px;
}

#pv-item.hover {
  background: alpha(@surface_container_high, 0.8);
  border: 1px solid alpha(@primary, 0.7);
}

#pv-item button {
  border-radius: 50px;
  background-color: @surface_container;
}

#pv-item.hover button:hover {
  background-color: @error;
}

#pv-item.hover button:hover image {
  color: @surface_container;
}
