/*****----- Configuration -----*****/
configuration {
    show-icons:                 true;
}

/*****----- Global Properties -----*****/
@import                         "colors.rasi"

* {
    font:                       "Google Sans Display Medium 14";
    background-color:           transparent;
}

/*****----- Main Window -----*****/
window {
    transparency:               "real";
    location:                   center;
    anchor:                     center;
    fullscreen:                 false;
    width:                      75%;
    x-offset:                   0px;
    y-offset:                   0px;

    margin:                     0px;
    padding:                    0px;
    cursor:                     "default";
    background-color:           transparent;
}

/*****----- Main Box -----*****/
mainbox {
    spacing:                    15px;
    margin:                     0px;
    children:                   [ "listview" ];
}

/*****----- Listview -----*****/
listview {
    spacing:                    15px;
    columns:                    5;
    lines:                      1;
    cycle:                      true;
    dynamic:                    true;
    scrollbar:                  false;
    layout:                     vertical;
    fixed-columns:              true;

    margin:                     0px;
    padding:                    20px;
    border:                     2px;
    border-radius:              25px;
    border-color:               @outline-variant;
    background-color:           @surface-container;
}

/*****----- Elements -----*****/
element {
    orientation:                vertical;
    padding:                    8px;
    spacing:                    6px;
    border-radius:              25px;
    background-color:           transparent;
}

element-icon {
    size:                       400px;
    horizontal-align:           0.5;
    border-radius:              25px;
    background-color:           transparent;
}

element-text {
    enabled:                    false;
}

/****----- Estados de Seleção -----****/

element selected {
    background-color:           @primary;
    border-radius:              25px;
}

/*****----- Message -----*****/

message {
    padding:                    10px;
    background-color:           @surface-container-low;
    border-radius:              12px;
}