* {
    font-weight: 500;
    font-family: "SF Pro Text", sans-serif
}

@define-color accent_color #f8bd49;
@define-color accent_bg_color #5e4200;
@define-color accent_fg_color #ffdea9;
@define-color destructive_color #ffb4ab;
@define-color destructive_bg_color #93000a;
@define-color destructive_fg_color #ffdad6;
@define-color success_color #dac3a1;
@define-color success_bg_color #54442a;
@define-color success_fg_color #f7dfbb;
@define-color warning_color #b3cea6;
@define-color warning_bg_color #364d2e;
@define-color warning_fg_color #cfebc0;
@define-color error_color #ffb4ab;
@define-color error_bg_color #93000a;
@define-color error_fg_color #ffdad6;
@define-color window_bg_color #131313;
@define-color window_fg_color #e2e2e2;
@define-color view_bg_color #131313;
@define-color view_fg_color #e2e2e2;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_border_color @window_bg_color;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color @window_bg_color;
@define-color card_bg_color #2a2a2a;
@define-color card_fg_color #e2e2e2;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color @card_bg_color;
@define-color dialog_fg_color @card_fg_color;
@define-color popover_bg_color @card_bg_color;
@define-color popover_fg_color @card_fg_color;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(139, 145, 152, 0.5);
@define-color sidebar_bg_color #1b1b1b;
@define-color secondary_sidebar_bg_color @sidebar_bg_color;
@define-color sidebar_backdrop_color @sidebar_bg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_bg_color;

headerbar.default-decoration {
    margin-bottom: 50px;
    margin-top: -100px;
}

window.csd,
window.csd decoration {
    box-shadow: none;
}