/*****----- Configuration -----*****/
configuration {
    disable-history:            false;
    show-icons:                 true;
}

/*****----- Global Properties -----*****/
@import                         "colors.rasi"

* {
    font:                       "Google Sans Display Medium 14";
    background-color:           transparent;
}

/*****----- Main Window -----*****/
window {
    transparency:               "real";
    location:                   center;
    anchor:                     center;
    fullscreen:                 false;
    width:                      50%;
    x-offset:                   0px;
    y-offset:                   0px;

    /* properties for all widgets */
    enabled:                    true;
    margin:                     0px;
    padding:                    0px;
    cursor:                     "default";
    background-color:           transparent;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                    true;
    spacing:                    15px;
    margin:                     0px;
    children:                   [ "inputbar", "listview" ];
    
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                    true;
    spacing:                    12px;
    margin:                     0px;
    padding:                    15px;
    border:                     2px;
    border-radius:              9999px;
    border-color:               @outline-variant;
    background-color:           @surface-container;
    children:                   [ "entry" ];
}

prompt {
    enabled:                    true;
    background-color:           transparent;
    text-color:                 @primary;
}

textbox-prompt-colon {
    enabled:                    true;
    expand:                     false;
    str:                        ": ";
    background-color:           transparent;
    text-color:                 @on-surface-variant;
}

entry {
    enabled:                    true;
    background-color:           transparent;
    text-color:                 @on-surface;
    cursor:                     text;
    placeholder:                "Seleção de Wallpaper..";
    placeholder-color:          @outline;
}

/*****----- Listview -----*****/
listview {
    enabled:                    true;
    spacing:                    20px;
    columns:                    4;
    lines:                      1;
    cycle:                      true;
    dynamic:                    true;
    scrollbar:                  false;
    layout:                     vertical;
    reverse:                    false;
    fixed-height:               false;
    fixed-columns:              true;

    spacing:                    15px;
    margin:                     0px;
    padding:                    20px;
    border:                     2px;
    border-radius:              20px;
    border-color:               @outline-variant;
    background-color:           @surface-container;
    cursor:                     "default";
}

/*****----- Elements -----*****/
element {
    enabled:                    true;
    orientation:                vertical;
    padding:                    8px;
    spacing:                    6px;
    border-radius:              20px;
    background-color:           transparent;
    highlight:                  none;
}

element-icon {
    size:                       280px;
    horizontal-align:           0.5;
    border-radius:              20px;
    background-color:           transparent;
}

element-text {
    enabled:                    false;
}

/****----- Estados de Selção -----****/

element normal normal {
    background-color:           transparent;
    text-color:                 @on-surface;
}

element selected normal {
    background-color:           @primary;
    text-color:                 @on-primary;
    border-radius:              20px;
}

message {
    padding:                    10px;
    background-color:           @surface-container-low;
    border-radius:              12px;
}
