/* ===================================================== */
/* ================== IMPORT & GLOBAL ================== */
/* ===================================================== */

@import "colors.css";

* {
    font-family: "Google Sans Display", "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    font-weight: 500;
}

/* ===================================================== */
/* =================== WAYBAR ROOT ===================== */
/* ===================================================== */

#waybar {
    background: transparent;
}

/* ===================================================== */
/* ==================== WORKSPACES ===================== */
/* ===================================================== */

#workspaces button {
    margin: 8px;
    padding: 0 4px;

    font-size: 24px;
    font-weight: bold;

    color: alpha(@primary, 0.51);
    background: alpha(@surface_container, 0.51);

    border: 3px solid @primary;
    border-radius: 50px;

    transition: all 180ms cubic-bezier(.4,0,.2,1);
}

/* States */

#workspaces button.empty {
    color: transparent;
}

#workspaces button.active {
    color: @primary;
    border-color: @primary;
}

#workspaces button.urgent {
    color: @on_error;
    background-color: @error;
}

#workspaces button:hover {
    color: @on_primary;
    background-color: @primary;
}

/* Edge alignment */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* ===================================================== */
/* ===================== MODULE BASE =================== */
/* ===================================================== */

#workspaces,
#clock,
#battery,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-power,
#custom-wallpaper,
#custom-menu,
#custom-notification,
#custom-clipboard,
#custom-pacman,
#mpris,
#custom-weather,
#custom-clock,
#custom-expand-icon,
#custom-hypridle {

    margin: 18px 4px;
    padding: 0 13px;

    font-size: 22px;

    color: @primary;
    background: alpha(@surface_container, 0.7);

    border: 1px solid @outline_variant;
    border-radius: 50px;

    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);

    transition:
        transform 180ms cubic-bezier(.4,0,.2,1),
        background-color 200ms ease,
        color 200ms ease,
        border-color 200ms ease;
}

/* Hover (shared) */

#clock:hover,
#battery:hover,
#memory:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#custom-power:hover,
#custom-wallpaper:hover,
#custom-menu:hover,
#custom-notification:hover,
#custom-clipboard:hover,
#mpris:hover,
#custom-pacman:hover,
#custom-weather:hover,
#custom-clock:hover,
#custom-hypridle:hover,
#battery.charging:hover,
#battery.plugged:hover {

    margin: 14px 2px;
    padding: 1px 17px;

    font-weight: 700;

    color: @on_primary;
    background: @primary;

    border: 2px solid @primary;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
    
/* ===================================================== */
/* ================== MODULE EXCEPTIONS ================= */
/* ===================================================== */

#workspaces {
    padding: 0;
}

#custom-expand-icon {
    margin: 26px 4px;
    padding: 0 12px;

    font-size: 20px;
}

#tray {
    padding: 0 10px;
}

/* ---------------- MPRIS ---------------- */

#mpris {
    font-size: 20px;
}

#mpris:hover {
    font-size: 21px;
}

#mpris.paused {
    color: alpha(@on_surface, 0.5);
}
#mpris.paused:hover {
    color: alpha(@surface_container_high, 0.6);
}

#custom-hypridle.active {
    color: alpha(@on_surface, 0.5);
}
#custom-hypridle.active:hover {
    color: alpha(@surface_container_high, 0.6);
}

/* ===================================================== */
/* ==================== BATTERY ======================== */
/* ===================================================== */

#battery.charging,
#battery.plugged {
    color: green;
}

@keyframes blink {
    to {
        color: @surface_container_high;
        background-color: @primary;
    }
}

#battery.critical:not(.charging) {

    color: @on_error;
    background-color: @error;

    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* ===================================================== */
/* ======================= TRAY ======================== */
/* ===================================================== */

#tray {
    border-radius: 50px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    background-color: @error;
    -gtk-icon-effect: highlight;
}