@import "colors.css";

* {
    font-family: "Google Sans Display", "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    font-weight: 700;
}

#waybar {
    background: transparent;
}



#workspaces {
    background: alpha(@surface_container, 0.7);
    margin: 18px 4px;
    padding: 0px;
    border-radius: 9999px;
    border: 1px solid @outline_variant;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
}

#workspaces button {
    font-size: 24px;
    font-weight: bold;
    color: alpha(@primary, 0.51);
    border: 3px solid @primary;
    background: alpha(@surface_container, 0.51);
    border-radius: 9999px;
    margin: 8px;
    padding: 0 4px;
}

#workspaces button.empty {
    color: transparent
}

#workspaces button.active {
    font-size: 24px;
    font-weight: bold;
    border-color: @primary;
    color: @primary;
}

#workspaces button.urgent {
    background-color: red;
    color: white;
}

#workspaces button:hover {
    background-color: @primary;
    color: rgba(0, 0, 0, 0.6);
}

#workspaces button.active:hover {
    background-color: @primary;
    color: rgba(0, 0, 0, 0.6);
}

#workspaces button.empty:hover {
    background-color: @primary;
    color: transparent;

}



/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}



#clock,
#battery,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-power,
#custom-wallpaper,
#custom-menu,
#custom-notification,
#custom-clipboard,
#custom-pacman,
#mpris,
#custom-weather, 
#custom-clock,
#custom-expand-icon {
    font-size: 22px;
    color: @primary;
    background: alpha(@surface_container, 0.7);
    border-radius: 9999px;
    border: 1px solid @outline_variant;
    margin: 18px 4px;
    padding: 0px 13px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.8);
    transition:
        transform 180ms cubic-bezier(.4,0,.2,1),
        background-color 200ms ease,
        color 200ms ease,
        border-color 200ms ease;
}



#clock:hover,
#battery:hover,
#memory:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#custom-power:hover,
#custom-wallpaper:hover,
#custom-menu:hover,
#custom-notification:hover,
#custom-clipboard:hover,
#mpris:hover,
#custom-pacman:hover,
#custom-weather:hover,
#custom-clock:hover {
    background: @primary;
    color: @surface_container_high;
    font-size: 24px;
    margin: 14px 2px;
    padding: 1px 17px;
}

#custom-expand-icon {
	font-size: 20px;
    margin: 26px 4px;
    padding: 0px 12px;
}

#tray {
    padding: 0 10px;
}

#mpris {
    font-size: 20px;
}
#mpris:hover {
    font-size: 21px;
}
#mpris.paused {
    color: alpha(@on_surface_variant,.5);
}
#mpris.paused:hover {
    color: alpha(@surface_container_high,.65);
}



#battery.charging,
#battery.plugged {
    color: green;
}

@keyframes blink {
    to {
        background-color: @primary;
        color: @surface_container_high;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: red;
    color: @surface_container_high;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: red;
}
