* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 16px;
    font-weight: bold;

}

#waybar {
    background-color: transparent;
}



#workspaces {
    background: black;
    margin: 16px 0;
    padding: 0px;
    border-radius: 8px;
}

#workspaces button {
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
    border: 3px solid white;
    background: black;
    border-radius: 999px;
    margin: 4px 6px;
    padding: 0 4px;
}

#workspaces button.empty {
    color: transparent
}

#workspaces button.active {
    font-size: 24px;
    font-weight: bold;
    border-color: white;
    color: white;
}

#workspaces button.urgent {
    background-color: red;
}

#workspaces button:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
}

#workspaces button.active:hover {
    background-color: white;
    color: black;
}

#workspaces button.empty:hover {
    background-color: white;
    color: transparent;

}



/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}



#clock,
#battery,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-power,
#custom-wallpaper,
#custom-menu,
#custom-notification,
#custom-clipboard {
    font-size: 24px;
    color: white;
    border-radius: 8px;
    background: black;
    margin: 16px 4px;
    padding: 2px 8px;
}

#clock:hover,
#battery:hover,
#memory:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#custom-power:hover,
#custom-wallpaper:hover,
#custom-menu:hover,
#custom-notification:hover,
#custom-clipboard:hover {
    background: white;
    color: black;
}

#custom-notification {
    padding: 0 8px;
    border-radius: 8px;

}
#custom-clipboard {
    padding: 0 8px;
    border-radius: 8px;
}

#tray {
    padding: 0 10px;
}



#battery.charging,
#battery.plugged {
    color: green;
}

@keyframes blink {
    to {
        background-color: white;
        color: black;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: red;
    color: black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: red;
}
