[Desktop Entry]
Name=M3 SDDM
Comment=A minimal SDDM theme inspired by Pixel UI and Material You.
Version=2.0
Author=Shane.
Type=Service
X-SDDM-Theme-InterfaceVersion=2
