@import url('libadwaita.css');
@import url('libadwaita-tweaks.css');
@import 'colors.css';

* {
    font-weight: 500;
    font-family: "Google Sans Display", sans-serif;
}

stackswitcher button:checked,
stackswitcher button.active {
    color: @accent_color;
    box-shadow: inset 0 -3px 0 0 @accent_color;
}

notebook > header > tabs > tab:checked {
    box-shadow: inset 0 -3px 0 0 @accent_color;
    color: @accent_color;
}

button.suggested-action {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
    border-color: @accent_bg_color;
}

switch:checked {
    background-color: @accent_bg_color;
    border-color: @accent_bg_color;
}
switch:checked slider {
    background-color: @accent_fg_color;
}

check:checked, radio:checked {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
    border-color: @accent_bg_color;
}

progressbar progress {
    background-color: @accent_bg_color;
    border-color: @accent_bg_color;
}
scale highlight {
    background-color: @accent_bg_color;
}

selection, :selected, .highlight {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}

calendar-view:selected {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}
calendar-view:indeterminate {
    color: @accent_color;
    box-shadow: inset 0 0 0 1px @accent_color;
}
.calendar-today-indicator,
calendar-view .today-indicator {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}

link, label.link {
    color: @accent_color;
}
entry:focus {
    border-color: @accent_bg_color;
}
*:focus {
    outline-color: alpha(@accent_color, 0.5);
}

headerbar.default-decoration {
    margin-bottom: 50px;
    margin-top: -100px;
}

window.csd,
window.csd decoration {
    box-shadow: none;
}

messagedialog, 
window.dialog, 
dialog {
    background-color: @dialog_bg_color;
    color: @dialog_fg_color;
}

messagedialog button, 
window.dialog button, 
dialog button {
    color: @dialog_fg_color !important;
}

messagedialog button label, 
window.dialog button label, 
dialog button label {
    color: @dialog_fg_color !important;
}

.sidebar, 
stacksidebar, 
list.navigation-sidebar {
    background-color: @sidebar_bg_color;
    color: @window_fg_color;
}

.sidebar label, 
stacksidebar label, 
list.navigation-sidebar label {
    color: inherit;
}

.sidebar row:hover, 
stacksidebar row:hover,
list.navigation-sidebar row:hover {
    background-color: alpha(@window_fg_color, 0.1);
}

.sidebar row:selected, 
stacksidebar row:selected,
list.navigation-sidebar row:selected {
    background-color: @accent_bg_color;
    color: @accent_fg_color;
}

.sidebar row:selected label, 
stacksidebar row:selected label,
list.navigation-sidebar row:selected label {
    color: @accent_fg_color;
}